* {
    margin: 100px;
    padding: 100px;
    box-sizing: border-box;

}

main {
    display: flex;
    justify-content: space-between;
}
.menu {
    width: 100px;
    height: 100dvb;
    max-width: 30ren;
    background-color: black ;
    padding: 2rem;
    

}
.index {
    background-color: aliceblue;
    width: 100%;
    height: 100rem;

}