body {
    margin: 20px;
  }
  
  .contenedor {
    width: 300px;
    height: 500px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
  }
  
  .encabezado, .pie {
    border-bottom: 1px solid black;
    padding: 10px;
    display: flex;
    align-items: center;
  }
  
  .pie {
    border-top: 1px solid black;
    border-bottom: none;
    margin-top: auto;
  }
  
  .foto {
    width: 20px;
    height: 20px;
    border: 2px solid gray;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .contenido {
    flex: 1px;
  }