.contenedor {
    width: 300px;
    height: 500px;
    border: 4px solid black;
    display: flex;
    flex-direction: column;
    margin: 20px auto;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 100px;
    width: 1000px;
}

.arriba, .medio, .abajo {
    border-bottom: 1px solid black;
    text-align: center;
    padding: 200px;
    width: 1450px;
}

.medio {
    flex: 1px;
}

.abajo {
    border-bottom: black;
}